/*COLORS*/
$greyColor: #333;
$blackColor: #000;
$whiteColor: #fff;
$bodyColor: #fcfcfc;
$redColor: #a90000;
$darkOrange: #bd512f;
$darkGrey: #444;
$semiGrey: #393e46;
$navyGrey: #222831;
$yellowColor: #dd8011;
$dark-grey: #6e6e6e;
$text-color-light: #3f51b5;

/*FONTS*/
$fontNormal: 400;
$fontSemiBold: 600;
$fontBold: 700;

$assetPath: '/images';
