/*COLORS*/
$greyColor: #333;
$blackColor: #000;
$whiteColor: #fff;
$blueColor: #0a6fba;
$bodyColor: #fcfcfc;
$yellowColor: #f3ce56;
$lightGreenColor: #00874d;
$darkGrey: #444;

/*FONTS*/
$fontNormal: 400;
$fontSemiBold: 600;
$fontBold: 700;

$assetPath: '/images';
