@import '../../../styles/variables';
@import '../../../styles/mixins';

.accomodationHeader {
  margin-bottom: 30px;
  .accomodationTitle {
    font-size: 3.2rem;
    color: $redColor;
    font-weight: $fontBold;
  }
}

.innerTitle {
  margin-bottom: 15px;
  font-size: 24px;
  font-weight: $fontSemiBold;
}

.innerList {
  list-style: none;
  .facilityItem {
    @include flex;
    line-height: 1.8;
    span {
      display: block;
    }
    .facilityNumber {
      font-weight: $fontSemiBold;
      font-size: 1.6rem;
      margin-right: 5px;
    }
  }
}

.accomodationParagraph {
  p {
    font-size: 1.4rem;
    line-height: 1.7;
    color: $darkGrey;
  }
}

// Room details
.roomTypeTitle {
  color: $darkOrange;
  font-size: 16px;
  margin-bottom: 5px;
}

.typesList {
  list-style: none;
  padding: 0;
  margin: 0;
  li {
    line-height: 1.3;
    margin-bottom: 10px;
    font-size: 14px;
    .typesWrapper {
      margin-bottom: 8px;
      line-height: 1.3;
      .typesHeader {
        font-size: 14px;
        @include flex;
        font-weight: $fontSemiBold;
        p {
          font-weight: 400;
          padding-left: 5px;
        }
      }
    }
  }
}

.availabilityWrapper {
  padding: 15px 0;
  .availabilityTitle {
    color: $navyGrey;
    font-size: 15px;
    margin-bottom: 5px;
  }
}

.roomsInformationList {
  padding: 0;
  margin: 0;
  list-style: none;
  li {
    @include flex;
    @include flex-direction(column);
    width: 100%;
    span {
      @include flex;
      margin-bottom: 5px;
      font-size: 14px;
    }
  }
}
