@import '../../styles/variables';
@import '../../styles/mixins';

.fullContainer {
  @include flex;
  @include flex-direction(column);
  width: 100%;
  height: calc(100vh - 40px);
  justify-content: center;
  padding: 0 30px;
  @include breakpoint('mini-tab') {
    height: auto;
  }
}
